/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pied-piper-green {
    color: rgb(24, 170, 96, 1);
}

.snack-bar-style {
    background-color:  rgb(24, 170, 96, 1);
}

.snack-bar-style .mat-button {
    color: #FFF;
}

.snack-bar-style span {
    color: #FFF;
}

.msg-error {
    background-color: rgb(255, 64, 64);
    color: #FFF;
}

.msg-error .mat-button {
    color: #FFF;
}

.msg-error-style span {
    color: #FFF;
}