form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 15px 0px 0px;
}

.create-button {
    background-color: rgb(24, 170, 96, 1);
    color: #FFF;
}